* {
    box-sizing: border-box;
    }

.header {
    background-image: url(https://i.ibb.co/7JyCdJt/image057.png);
    position: relative;
     
    

}
.menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 50px;
    justify-content: space-evenly;
    }    

.isotipo {
    
    width: 200px;
    height: 100px;
    align-items: center;
    }

    button {
        padding: 10px!important;
        padding-right: 25px!important;
        padding-left: 25px!important;
        margin: 20px;
        
        
    }