.list {
  width: 30%;
  list-style-type: none;
}

.list li {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  color: "white";
  padding: 0;
  line-height: 0;
  font-size: 1rem;
  text-align: left;

}
